.Rproj.user
.Rhistory
.RData
.Ruserdata

*[^index].html
*Notes*
*OLD.*
*.rxproj
.vs/
*.sln
*.pptx
*.docx
*.pdf

source*
metrics

data-import

data/SlotChanges.csv
data/WSTVonBertMatrix.csv
data/alkey/

presentations/IEP/*.csv
presentations/*.R
presentations/public/

qaqc/*.Rmd
reports/*.csv
reports/*.docx
*.tmp


*.html
